.titlewithline {
  position: relative;
  padding-left: 12px;      
  font-weight: 700;
   font-size: 1rem;
   margin: 20px 20px !important;

}

.titlewithline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;             
  width: 4px;              
  background-color: #FEAF00; 
  border-radius: 2px;     
}