.titlewithline {
  position: relative;
  padding-left: 12px;      
  font-weight: 700;
   font-size: clamp(0.9rem, 3vw, 1.5rem);

}

.titlewithline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;             
  width: 4px;              
  background-color: #FEAF00; 
  border-radius: 2px;     
}
/* @media (max-width: 700px) {
    .titlewithline{
        background-color: rgb(28, 16, 191);
          position: relative;
  padding-left: 12px;      
  font-weight: 700;
font-size: x-small;
    }
  .card {
  background-color: black;
    padding: 16px;
    max-width: 500px;
  }

  .titleWithLine {
    font-size: .8rem;
  }

  .label {
    font-size: 0.5rem;
  }
}





@media only screen 
and (min-width : 321px) {
   .titlewithline{
        background-color: rgb(154, 144, 67);
          position: relative;
  padding-left: 12px;      
  font-weight: 700;
  font-size:1.2rem !important;
    }
  .card {
  background-color: black;
    padding: 16px;
    max-width: 500px;
  }

  .titleWithLine {
    font-size: .8rem;
  }

  .label {
    font-size: 0.5rem;
  }
}
@media (max-width: 400px) */
/* 
@media only screen 
and (max-width : 320px){
    .titlewithline{
        background-color: aqua;
          position: relative;
  padding-left: 12px;      
  font-weight: 700;
  font-size:12px;
    }
  .card {
  background-color: black;
    padding: 16px;
    max-width: 500px;
  }

  .titleWithLine {
    font-size: .8rem;
  }

  .label {
    font-size: 0.5rem;
  }
}



@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px){
    .titlewithline{
        background-color: rgb(89, 6, 8);
          position: relative;
  padding-left: 12px;      
  font-weight: 700;
  font-size:12px;
    }
  .card {
  background-color: black;
    padding: 16px;
    max-width: 500px;
  }

  .titleWithLine {
    font-size: .8rem;
  }

  .label {
    font-size: 0.5rem;
  }
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape){
    .titlewithline{
        background-color: rgb(67, 26, 232);
          position: relative;
  padding-left: 12px;      
  font-weight: 700;
  font-size:12px;
    }
  .card {
  background-color: black;
    padding: 16px;
    max-width: 500px;
  }

  .titleWithLine {
    font-size: .8rem;
  }

  .label {
    font-size: 0.5rem;
  }
} */